<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.larjam.beats2">
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:name=".Beats2Application"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity
      android:label="@string/title_activity_settings"
      android:name=".controller.SettingsActivity"
      android:theme="@style/AppTheme.NoActionBar">
    </activity>
    <activity
      android:label="@string/title_activity_tarsos_test"
      android:name=".controller.TarsosTest"
      android:theme="@style/AppTheme.NoActionBar">
    </activity>
    <activity
      android:label="Beats2"
      android:name=".controller.PlayerActivity"
      android:theme="@style/AppTheme.NoActionBar">
    </activity>
    <activity
      android:name=".controller.SongListActivity"
      android:theme="@style/AppTheme.NoActionBar">
    </activity>
    <activity android:name=".controller.LoginActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>


</manifest>